.background {
  background-image: url("/images/background-mobil.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .signin-wrapper {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
      120deg,
      rgba(133, 74, 208, 1) 0%,
      rgba(59, 198, 199, 1) 100%
    );
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.863);
    height: 70vh;
    width: 60vh;

    h1 {
      text-align: center;
      font-family: var(--font-style-text);
      font-size: calc(var(--font-size-standard) * 2);
      color: var(--primary-color);
    }

    p {
      text-align: center;
    }
    a {
      text-decoration: none;
      color: #312e2e;
      font-weight: bold;
    }

    .form-signin {
      display: flex;
      align-items: center;
      flex-direction: column;

      p {
        font-family: var(--font-style-text);
        font-size: calc(var(--font-size-standard) * 1);
        margin-bottom: 10px; /* Ajout de la marge inférieure pour les paragraphes */
      }

      .email,
      .name,
      .password {
        background-color: #312e2e;
        border: none;
        height: 5vh;
        font-size: calc(var(--font-size-standard) * 1);
        color: var(--primary-color);
        border-radius: 8px;
        width: 40vh;
        margin-bottom: 2px; /* Ajout de la marge inférieure pour les champs d'entrée */
      }
      .mdp-container {
        position: relative;

        align-items: center;
        flex-direction: column;
        .mdp {
          width: 25px;
          position: absolute;
          right: 10px;

          bottom: 15px;
          cursor: pointer;
        }
      }

      .container-button {
        width: 100%;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        text-decoration: none;

        .btn-inscription {
          cursor: pointer;
          width: 35%;
          font-size: calc(var(--font-size-standard) * 1.2);
          color: white;
          font-family: var(--font-style-text);
          font-weight: bold;
          border-radius: 50px;
          background-image: linear-gradient(
            to bottom,
            rgba(149, 93, 220, 1) 0%,
            rgba(0, 0, 0, 0.869) 100%
          );
          border: none;
          padding: 10px;
        }
      }
    }
  }
}
