.container-navbar {
  height: 100vh;
  width: 20vw;
  background-color: rgba(0, 0, 0, 0.83);

  .login-container {
    display: flex;
    align-items: center;
    padding: 8%;
    
    img {
      width: 7vw;
      border-radius: 50%;
      border: 2px solid white;
    }
    .logout-button {
      a {
        color: var(--text-color);
        text-decoration: none;
        font-size: calc(var(--font-size-standard) * 0.8);
        font-family: var(--font-style-text);
      }

      .logout {
        cursor: pointer;
        font-weight: bold;
        color: white;
        border: 3px solid transparent;
        background-color: rgba(29, 29, 29, 0.941);
        box-shadow:
          3px 3px 6px rgba(0, 0, 0, 0.5),
          -1px -1px 4px rgba(105, 105, 105, 0.5);
        width: 8vw;
        padding: 10px;
        border-radius: 50px;
      }
    }
    .user-profile {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      display: flex;
      p {
        font-weight: bold;
        text-align: center;
        font-size: calc(var(--font-size-standard) * 1.2);
      }
    }
    a {
      font-size: 22px;
      text-decoration: none;
      color: var(--primary-color);
      transition: transform 0.3s ease;
    }
    a:hover {
      color: rgba(232, 106, 3, 0.863);
      transform: scale(1.1);
    }
  }

  .logo {
    padding-left: 5vh;
    width: 160px;
  }
}
