.container-navbar {
  border-bottom: 1px solid rgb(255, 255, 255);
  height: 16vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(95, 3, 3, 0.454);

  .login-container {
    display: flex;
    padding-right: 7vh;
    gap: 5vh;
    cursor: pointer;

    .user-profile {
      display: flex;
      flex-direction: column-reverse;
      p {
        font-weight: bold;
        text-align: center;
      }
      img {
        width: 12vh;
      }
    }
    a {
      font-size: 22px;
      text-decoration: none;
      color: var(--primary-color);
      transition: transform 0.3s ease;
    }
    a:hover {
      color: rgba(232, 106, 3, 0.863);
      transform: scale(1.1);
    }
  }

  .logo {
    padding-left: 5vh;
    width: 160px;
  }
}
