.container-navbar {
  border-bottom: 1px solid rgb(255, 255, 255);
  height: 16vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
  background-image: linear-gradient(to right, #5c0101a9 0%, rgba(48, 4, 4, 0.599) 100%);

  .login-container {
    display: flex;
    padding-right: 7vh;
    gap: 5vh;
    cursor: pointer;

    .user-profile {
      display: flex;

      flex-direction: column-reverse;
      p {
        margin-top: 5px;
        font-weight: bold;
        text-align: center;
        font-size: calc(var(--font-size-standard) * 1);
      }
      img {
        width: 10vh;
        height: 10vh; 
        border-radius: 50%; 
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
    }
    a {
      font-size: 22px;
      text-decoration: none;
      color: var(--primary-color);
      transition: transform 0.3s ease;
    }
    a:hover {
      color: rgba(232, 106, 3, 0.863);
      transform: scale(1.1);
    }
  }

  .logo {
    padding-left: 5vh;
    width: 160px;
  }
}
