
.container-playlist {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.profil-wrapper {
  // background-image: linear-gradient(-20deg, #50030e 0%, #582604 100%);
  border: 2px solid white;
  width: 30vh;
  height: 70vh;
  display: flex;
  flex-direction: column;

  .user-profile {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;

    .pseudo-user {
      display: flex;
      flex-direction: row;

      h1 {
        font-weight: bold;
        margin-top: 0;
        font-size: calc(var(--font-size-standard) * 1.3);
        color: var(--text-color);
      }
    }

    img {
      width: 18vh;
      height: 18vh;
      border-radius: 50%;
      padding: 10px;
      margin-top: 15px;
      box-shadow:
          3px 3px 6px rgba(0, 0, 0, 0.5),
          -1px -1px 4px rgba(0, 0, 0, 0.5);
    }

    .editIcon {
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s;
      border: 3px solid transparent;
      background-color: rgba(29, 29, 29, 0.848);
      box-shadow:
        3px 3px 6px rgba(0, 0, 0, 0.5),
        -1px -1px 4px rgba(105, 105, 105, 0.5);
    }

    .editIcon:active {
      background-color: #333;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .preference-user {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10%;
      width: 80%;

      h2 {
        font-size: calc(var(--font-size-standard) * 0.9);
        color: var(--text-color);
      }

      p {
        font-style: italic;
        color: white;
      }
    }
  }

  .logout-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    
    .logout-button:active {
      background-color: #333;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    a {
      color: var(--text-color);
      text-decoration: none;
      font-size: calc(var(--font-size-standard) * 0.8);
      font-family: var(--font-style-text);
    }

    .logout {
      cursor: pointer;
      font-weight: bold;
      color: white;
      border: 3px solid transparent;
      background-color: rgba(29, 29, 29, 0.941);
      box-shadow:
        3px 3px 6px rgba(0, 0, 0, 0.5),
        -1px -1px 4px rgba(105, 105, 105, 0.5);
      padding: 10px;
      border-radius: 5px;
    }
  }

  .edit-user {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .input-edit {
      font-size: calc(var(--font-size-standard) * 0.8);
      padding: 8px;
      border: none;
      border-radius: 10px;
      width: 11vw;
    }

    .edit-profil {
      .saveprofil {
        font-size: calc(var(--font-size-standard) * 0.8);
        cursor: pointer;
        font-weight: bold;
        color: white;
        font-family: var(--font-style-text);
        border: 3px solid transparent;
        background-color: rgba(29, 29, 29, 0.941);
        box-shadow:
          3px 3px 6px rgba(0, 0, 0, 0.5),
          -1px -1px 4px rgba(105, 105, 105, 0.5);
        padding: 10px;
        width: 8vw;
        border-radius: 5px;
      }
    }

    .delete-user-profile {
      display: flex;
      justify-content: center;

      .delete {
        cursor: pointer;
        font-weight: bold;
        color: white;
        border: 3px solid transparent;
        background-color: #ffc046;
        box-shadow:
          3px 3px 6px rgba(0, 0, 0, 0.385),
          -1px -1px 4px rgba(105, 105, 105, 0.5);
        padding: 12px;
        width: 10vw;
        border-radius: 5px;

        a {
          font-size: calc(var(--font-size-standard) * 0.7);
          font-family: var(--font-style-text);
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.playlist-wrapper {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.76);
  width: 75vh;
  height: 70vh;

  h1 {
    font-size: calc(var(--font-size-standard) * 2);
    text-align: center;
    color: var(--text-color);
  }
}
